@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

:root {
  --color-background: #ffffff;
  --color-orange: #ff570a;
  --color-gray: #564848;
}
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Reem Kufi', sans-serif;
}

/* Tag p and Tag h1 */
h1,
p {
  text-align: center;
  margin: 0 3rem;
}
h1 {
  color: var(--color-orange);
}
p {
  color: var(--color-gray);
}
