/* nav */
nav > p {
  font-size: 2rem;
}
nav > p {
  max-width: 123.5rem;
  margin: 2.5rem 5rem;
}
/* Main */
.table {
  margin: 10rem 0;
}
.table h1 {
  margin: 3rem;
  font-size: 2.5rem;
}
.table-titles {
  min-width: 30.5rem;
  display: flex;
  justify-content: space-between;
  width: min(40rem, 70%);
  border-bottom: 0.1rem solid var(--color-orange);
  margin: 0 auto;
}
.table-items {
  min-width: 30.5rem;
  border-bottom: 0.1rem solid var(--color-text-50);
  padding: 0.5rem 0;
  width: min(40rem, 70%);
  display: flex;
  margin: 0.2rem auto;
  justify-content: space-between;
}
.table-items > p {
  font-size: 1.5rem;
}
.table-items:nth-child(2) {
  text-align: right;
}
/* Calculator */
.inputs {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs > button {
  padding: 0.5rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--color-orange);
  background-color: transparent;
  color: var(--color-text);
  margin: 3rem 0;
  transition: 0.5s;
  cursor: pointer;
}
.inputs > button:hover {
  transform: scale(1.05);
}
.calc > p {
  margin: 2rem;
  font-size: 1.5rem;
  color: var(--color-text-50);
}
.input {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input > input {
  background-color: transparent;
  color: var(--color-text);
  padding: 0.7rem;
  border-radius: 1rem;
  outline: none;
  border: 0.1rem solid var(--color-text-50);
  width: 8rem;
  text-align: center;
}
.input > input:focus {
  border: 0.1rem solid var(--color-text);
}
